<section class="feature-area">
			<div class="container-fluid custom-container">
				<div class="row">
					<!-- Single Feature -->
					<div class="col-sm-6 col-xl-3">
						<div class="sin-feature">
							<div class="inner-sin-feature">
								<div class="icon">
									<i class="flaticon-free-delivery"></i>
								</div>
								<div class="f-content">
									<h6 style="color: #d19e66">БЕЗКОШТОВНА ДОСТАВКА</h6>
									<p>Безкоштовна доставка укрпоштою</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Feature -->
					<div class="col-sm-6  col-xl-3">
						<div class="sin-feature">
							<div class="inner-sin-feature">
								<div class="icon">
									<i class="flaticon-shopping-online-support"></i>
								</div>
								<div class="f-content">
									<h6 style="color: #d19e66">ОНЛАЙН ПІДТРИМКА</h6>
									<p>Онлайн підтримка 24 години</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Feature -->
					<div class="col-sm-6  col-xl-3">
						<div class="sin-feature">
							<div class="inner-sin-feature">
								<div class="icon">
									<i class="flaticon-return-of-investment"></i>
								</div>
								<div class="f-content">
									<h6 style="color: #d19e66">ПОВЕРНЕННЯ КОШТІВ</h6>
									<p>Гарантія повернення до 5 днів</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Feature -->
					<div class="col-sm-6  col-xl-3">
						<div class="sin-feature">
							<div class="inner-sin-feature">
								<div class="icon">
									<i class="flaticon-sign"></i>
								</div>
								<div class="f-content">
									<h6 style="color: #d19e66">ПОСТІЙНІ ЗНИЖКИ</h6>
									<p>В нас постійно є знижки на певні товари</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>