{% load shop_tags %}
{% load static %}

<div class="sin-product style-two">
	<a href="{{ product.get_absolute_url }}">
		<div class="pro-img">
			<img src="{{ product.get_first_photo }}" height="270" alt="">
		</div>
		<div class="mid-wrapper">
			<h5 class="pro-title"><a href="{{ product.get_absolute_url }}">{{ product.title }} </a></h5>
			<p>{{ product.category }} / <span>{{ product.price }} грн.</span></p>
		</div>
	</a>
	<div class="icon-wrapper">
		<div class="add-to-cart">
			<a href="#">До кошику</a>
		</div>
		<div class="pro-icon">
			<ul>
				{% if request.user.is_authenticated %}
					{% get_favorite_products request.user as fav_products %}
				{% endif %}
				{% if product in fav_products and request.user.is_authenticated %}
					<li><a href="{% url "wishlist:add_favorite" product.slug %}"><i class="flaticon-valentines-heart" style="color: #d19e66;"></i></a></li>
					{% else %}
					<li><a href="{% url "wishlist:add_favorite" product.slug %}"><i class="flaticon-valentines-heart"></i></a></li>
				{% endif %}

			</ul>
		</div>
	</div>
</div>