{% load static %}

<section class="product fashion-style">
	<div class="container">
		<div class="style-section">
			<div class="row gy-4 gx-5 gy-lg-0">
				<div class="col-lg-6">
					<div class="product-wrapper wrapper-one" data-aos="fade-right">
{#						<img src="{% static "shop/assets/images/homepage-one/hero1.jpg" %}" alt="Description" class="background-image">#}
						<div class="wrapper-info">
							<span class="wrapper-subtitle">NEW STYLE</span>
							<h4 class="wrapper-details">Get 65% Offer
								<span class="wrapper-inner-title">& Make New</span> Fusion.
							</h4>
							<a href="product-sidebar.html" class="shop-btn">Shop Now
								<span>
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1.45312" y="0.914062" width="9.25346" height="2.05632"
                                                  transform="rotate(45 1.45312 0.914062)"/>
                                            <rect x="8" y="7.45703" width="9.25346" height="2.05632"
                                                  transform="rotate(135 8 7.45703)"/>
                                        </svg>
                                    </span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="product-wrapper wrapper-two" data-aos="fade-up">
						<div class="wrapper-info">
							<span class="wrapper-subtitle">Mega OFFER</span>
							<h4 class="wrapper-details">
								Make your New
								<span class="wrapper-inner-title">Styles with Our</span>
								Products
							</h4>
							<a href="product-sidebar.html" class="shop-btn">Shop Now
								<span>
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1.45312" y="0.914062" width="9.25346" height="2.05632"
                                                  transform="rotate(45 1.45312 0.914062)"/>
                                            <rect x="8" y="7.45703" width="9.25346" height="2.05632"
                                                  transform="rotate(135 8 7.45703)"/>
                                        </svg>
                                    </span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>