{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
		<!--------------- hero-section --------------->
{#		{% include "shop/components/_hero.html" %}#}
		<!--------------- hero-section-end --------------->
{##}
		<!--------------- style-section --------------->
		{% include "shop/components/_style.html" %}
		<!--------------- style-section-end --------------->

		<!--------------- category-section--------------->
		{% include "shop/components/_category.html" %}
		<!--------------- category-section-end--------------->

		<!--------------- brand-section--------------->
		{% include "shop/components/_brand.html" %}
		<!--------------- brand-section-end--------------->

		<!--------------- arrival-section--------------->
		{% include "shop/components/_arrival.html" %}
		<!--------------- arrival-section-end--------------->

		<!--------------- flash-section--------------->
		{% include "shop/components/_flash_time.html" %}
		<!--------------- flash-section-end--------------->

		<!--------------- top-sell-section--------------->
		{% include "shop/components/_top_sell.html" %}
		<!--------------- top-sell-section-end--------------->

		<!--------------- best-sell-section--------------->
		{% include "shop/components/_best_sell.html" %}
		<!--------------- best-sell-section-end--------------->

		<!--------------- weekly-section--------------->
		{% include "shop/components/_weekly.html" %}
		<!--------------- weekly-section-end--------------->

		<!--------------- flash-section--------------->
		{% include "shop/components/_flash.html" %}
		<!--------------- flash-section-end--------------->
{% endblock %}

