

{% extends "base.html" %}

{% block title %}
	{{ product.title }}
{% endblock %}


{% block main %}
	{% load shop_tags %}
	<!--=========================-->
	<!--=        Breadcrumb         =-->
	<!--=========================-->
	<section class="breadcrumb-area">
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-xl-12">
					<div class="bc-inner">
						<p><a href="{% url "shop:index" %}">Головна |</a>Shop</p>
					</div>
				</div>
				<!-- /.col-xl-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

	<!--=========================-->
	<!--=        Shop area          =-->
	<!--=========================-->

	<section class="shop-area single-product">
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="order-2 order-md-1 col-md-4 col-lg-3 col-xl-3">
					<div class=" shop-sidebar">
						<div class="sidebar-widget sidebar-search">
							<input type="text" placeholder="Search Product....">
							<button type="submit"><i class="fas fa-search"></i></button>
						</div>
						{% include "shop/components/_best_seller.html" %}

						<div class="sidebar-widget banner-wid">
							<div class="img">
								<img src="{{ product.get_first_photo }}" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-xl-3 -->
				<div class="order-1 order-md-2 col-md-8 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-6 col-xl-6">
							<!-- Product View Slider -->
							<div class="quickview-slider">
								<div class="slider-for">
									{% for image in images %}
										<div class="">
											<img src="{{ image.image.url }}" alt="Thumb">
										</div>
									{% endfor %}
								</div>
								<div class="slider-nav">
									{% for image in images %}
										<div class="">
											<img src="{{ image.image.url }}" alt="thumb">
										</div>
									{% endfor %}
								</div>
							</div>
							<!-- /.quickview-slider -->
						</div>
						<!-- /.col-xl-6 -->

						<div class="col-lg-6 col-xl-6">
							<div class="product-details">
								<div style="display: flex; justify-content: space-between; align-items: center;">
									<span>Артикул: {{ product.article }}</span>
									{% if avg_rate %}
										<span style="display: flex; align-items: center; gap: 5px;">
                    Рейтинг:
                    <span style="display: flex; gap: 2px;">
                    {% for _ in avg_rate|get_positive_range %}
	                    <i class="fas fa-star" style="color: #d19e66;"></i>
                    {% endfor %}
                    </span>
                    ({{ avg_rate }})
                  </span>
									{% else %}
										Ще немає рейтингу
									{% endif %}
								</div>
								<h5 class="pro-title"><a href="#">{{ product.title }}</a></h5>
								<span class="price">Ціна : {{ product.price }}</span>грн.
								<div class="size-variation">
									<span>Розмір :</span>
									<select name="size-value" id="size-select">
										<option value="" selected disabled>---</option>
										{% for variant in sizes %}
											<option value="{{ variant.size.id }}">{{ variant.size.name }}</option>
										{% endfor %}
									</select>

									<div class="color-checkboxes">
										<h4 style="float: right;">Колір: {{ product.color }}</h4>
									</div>

									{% if request.user.is_authenticated %}
										{% get_favorite_products request.user as fav_products %}
									{% endif %}

									<div class="color-checkboxes">
										{% if product in fav_products and request.user.is_authenticated %}
											<a href="{% url "wishlist:add_favorite" product.slug %}"
											   style="color: #636363"><i class="fas fa-heart" style="color: #d19e66;"></i> Видалити з
												обраних</a>
										{% else %}
											<a href="{% url "wishlist:add_favorite" product.slug %}" class="far fa-heart me-2"
											   style="color: #636363"> Додати в обрані</a>
										{% endif %}
									</div>

									<div class="add-tocart-wrap">
										<a href="#" id="add-to-cart-btn" class="add-to-cart"><i class="flaticon-shopping-purse-icon"></i>Додати
											до кошику</a>
									</div>

									<script>
                      document.getElementById('add-to-cart-btn').addEventListener('click', function (event) {
                          event.preventDefault(); // Зупиняємо стандартну поведінку (перехід по лінку)

                          const sizeSelect = document.getElementById('size-select');
                          const selectedSizeId = sizeSelect.value;

                          if (!selectedSizeId) {
                              alert('Будь ласка, виберіть розмір!');
                              return;
                          }

                          // Отримуємо URL для додавання товару в кошик з параметрами
                          const productId = {{ product.id }}; // Ідентифікатор продукту
                          const action = 'add'; // Дія - додавання в кошик

                          // Створюємо URL для додавання в кошик з вибраним розміром
                          const url = `{% url 'cart:add_to_cart' product.id 0 'add' %}`.replace('0', selectedSizeId);

                          window.location.href = url; // Перенаправляємо на цей URL
                      });
									</script>


									<p>{{ product.description }}</p>

									<div class="product-social">
										<span>Поділитись :</span>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>

								</div>
								<!-- /.product-details -->
							</div>
							<!-- /.col-xl-6 -->

						</div>
						<div class="col-xl-12">
							<div class="product-des-tab">
								<ul class="nav nav-tabs " role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
										   aria-controls="home" aria-selected="true">Повний опис</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
										   aria-controls="profile" aria-selected="false">Характеристики</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
										   aria-controls="contact" aria-selected="false">Відгуки ({{ count_reviews }})</a>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
										<div class="prod-bottom-tab-sin description">
											<h5>{{ product.title }}</h5>
											<p>{{ product.info }}</p>

										</div>
									</div>
									<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
										<div class="prod-bottom-tab-sin">
											<h5>Additional information</h5>
											<div class="info-wrap">
												<div class="sin-aditional-info">
													<div class="first">
														Brand
													</div>
													<div class="secound">
														ThemeIM
													</div>
												</div>
												<div class="sin-aditional-info">
													<div class="first">
														Manufacturer
													</div>
													<div class="secound">
														ThemeCity
													</div>
												</div>
												<div class="sin-aditional-info">
													<div class="first">
														Colors
													</div>
													<div class="secound">
														Black, Blue, Brown, Gray
													</div>
												</div>
												<div class="sin-aditional-info">
													<div class="first">
														Brand
													</div>
													<div class="secound">
														ThemeIM
													</div>
												</div>
												<div class="sin-aditional-info">
													<div class="first">
														Brand
													</div>
													<div class="secound">
														ThemeIM
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
										<div class="prod-bottom-tab-sin">
											<h5>Відгуки({{ count_reviews }})</h5>
											{% include "shop/components/_review.html" %}

										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- /.row -->
					</div>
					<!-- /.col-xl-9 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
	</section>
	<!-- /.shop-area -->

	<section class="main-product padding-120">
		<div class="container container-two">
			<div class="section-heading">
				<h3>Схожі <span>товари</span></h3>
			</div>
			<!-- /.section-heading-->
			<div class="row inner-wrapper">
				<!-- Single product -->
				{% for product in similar_goods %}
					<div class="col-sm-6 col-lg-3 col-xl-3">
						{% include "shop/components/_product_card.html" %}
					</div>
					{#					<div class="col-sm-6 col-lg-3 col-xl-3">#}
					{#						<div class="sin-product">#}
					{#							<div class="pro-img">#}
					{#								<img src="{{ similar_good.get_first_photo }}" alt="">#}
					{#							</div>#}
					{#							<div class="mid-wrapper">#}
					{#								<h5 class="pro-title"><a href="product.html">{{ similar_good.title }}</a></h5>#}
					{#								<span>{{ similar_good.price }} грн.</span>#}
					{#							</div>#}
					{#							<div class="pro-icon">#}
					{#								<ul>#}
					{#									<li><a href="#"><i class="flaticon-valentines-heart"></i></a></li>#}
					{#									<li><a href="#"><i class="flaticon-shopping-cart"></i></a></li>#}
					{#									<li><a href="#" class="trigger"><i class="flaticon-zoom-in"></i></a></li>#}
					{#								</ul>#}
					{#							</div>#}
					{#						</div>#}
					{#					</div>#}
				{% endfor %}

			</div>
			<!-- Row End -->
		</div>
		<!-- Container  -->
	</section>
	<!-- main-product -->
{% endblock %}
<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        const sizeSelect = document.getElementById('size-select');
        if (sizeSelect.value === "") {
            alert('Будь ласка, виберіть розмір перед додаванням до кошика!');
            event.preventDefault(); // Зупиняє відправку форми
        }
    });
</script>
