<section id="hero" class="hero">
	<div class="swiper hero-swiper">
		<div class="swiper-wrapper hero-wrapper">
			<div class="swiper-slide hero-slider-one">
				<div class="container">
					<div class="col-lg-6">
						<div class="wrapper-section" data-aos="fade-up">
							<div class="wrapper-info">
								<h5 class="wrapper-subtitle">UP TO <span class="wrapper-inner-title">70%</span> OFF
								</h5>
								<h1 class="wrapper-details">Fashion Collection
									Summer Sale</h1>
								<a href="product-sidebar.html" class="shop-btn">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide hero-slider-two">
				<div class="container">
					<div class="col-lg-6">
						<div class="wrapper-section">
							<div class="wrapper-info">
								<h5 class="wrapper-subtitle">UP TO <span class="wrapper-inner-title">70%</span> OFF
								</h5>
								<h1 class="wrapper-details">Fashion Collection
									Summer Sale</h1>
								<a href="#" class="shop-btn">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide hero-slider-three">
				<div class="container">
					<div class="col-lg-6">
						<div class="wrapper-section">
							<div class="wrapper-info">
								<h5 class="wrapper-subtitle">UP TO <span class="wrapper-inner-title">70%</span> OFF
								</h5>
								<h1 class="wrapper-details">Fashion Collection
									Summer Sale</h1>
								<a href="#" class="shop-btn">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>