{% load static %}

<!--------------- jQuery ---------------->
<script src="{% static "shop/assets/js/jquery_3.7.1.min.js" %}"></script>

<!--------------- bootstrap-js ---------------->
<script src="{% static "shop/assets/js/bootstrap_5.3.2.bundle.min.js" %}"></script>

<!--------------- Range-Slider-js ---------------->
<script src="{% static "shop/assets/js/nouislider.min.js" %}"></script>

<!--------------- scroll-Animation-js ---------------->
<script src="{% static "shop/assets/js/aos-3.0.0.js" %}"></script>

<!--------------- swiper-js ---------------->
<script src="{% static "shop/assets/js/swiper10-bundle.min.js" %}"></script>

<!--------------- additional-js ---------------->
<script src="{% static "shop/assets/js/shopus.js" %}"></script>
