{% load static %}
<!-- Dependency Scripts -->
	<script src="{% static "shop/dependencies/jquery/jquery.min.js" %}"></script>
	<script src="{% static "shop/dependencies/popper.js/popper.min.js" %}"></script>
	<script src="{% static "shop/dependencies/bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "shop/dependencies/owl.carousel/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "shop/dependencies/wow/js/wow.min.js" %}"></script>
	<script src="{% static "shop/dependencies/isotope-layout/js/isotope.pkgd.min.js" %}"></script>
	<script src="{% static "shop/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js" %}"></script>
	<script src="{% static "shop/dependencies/jquery.countdown/js/jquery.countdown.min.js" %}"></script>
	<script src="{% static "shop/dependencies/gmap3/js/gmap3.min.js" %}"></script>
	<script src="{% static "shop/dependencies/venobox/js/venobox.min.js" %} "></script>
	<script src="{% static "shop/dependencies/slick-carousel/js/slick.js" %} "></script>
	<script src="{% static "shop/dependencies/headroom/js/headroom.js" %}"></script>
	<script src="{% static "shop/dependencies/jquery-ui/js/jquery-ui.min.js" %} "></script>
	<!--Google map api -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBrMPsyNtpwKXPPpG54XwJXnyobfMAIc"></script>


	<!-- Site Scripts -->
	<script src="{% static "shop/assets/js/app.js" %}"></script>