<section class="subscribe-area style-two">
	<div class="container container-two">
		<div class="row">
			<div class="col-lg-5">
				<div class="subscribe-text">
					<h6>Приєднуйся, щоб бути в курсі наших новинок</h6>
				</div>
			</div>
			<!-- col-xl-6 -->

			<div class="col-lg-7">
				<form action="{% url "notifications:save_subscribers" %}" method="post">
				<div class="subscribe-wrapper">
					{% csrf_token %}
					<input name="email" placeholder="Введіть ваш email" type="text">
					<button type="submit">Підписатись</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /.container-two -->
</section>